<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/layout-security">
<head>
    
</head>
<body layout:fragment="content">
   	<div class="container body">
      <div class="main_container">
        <div class="col-md-12">
          <div class="col-middle">
            <div class="mid_center text-center text-center">
              <h1 class="error-number">403</h1>
              <h2>That's an error.</h2>
              <p>We are sorry. You are not authorized to view this resource. That's all we know!!.</p>
            </div>
          </div>
        </div>
      </div>
   </div> 
</body>
</html>
