<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="theme/gentelella/layout-security">
<head>

<style>
body {
    background: url(/images/cow.jpg)
                no-repeat center center fixed;
    background-size: cover;
}

h1, p, a{
	color: snow;
}
</style>	
    
</head>
<body layout:fragment="content">
   		<br/><br/><br/><br/><br/><br/>
	   	<div class="col-xs-8">
		   	<div class="login_wrapper">
		   		<div class="animate form login_form">
		     		<section class="text-center">
		     			<br/>
		     			<br/>
		     			<br/>   
		    			<!-- <img src="/images/logo.png" alt=" -->"/>
		           		<h1>Jersey</h1><br />
			            <div th:if="${param.error}">
					        <div class="alert alert-danger alert-dismissible fade in" role="alert">
			                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			                    Invalid username and password.
			                </div>
					    </div>
					    <div th:if="${param.logout}">
					        <div class="alert alert-success alert-dismissible fade in" role="alert">
			                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			                    You have been logged out.
			                </div>
					    </div>
						<form th:action="@{/security/login}" method="post">
						     <input type="text" class="form-control" name="username" placeholder="Username" required="" />
						     <input type="password" class="form-control" name="password" placeholder="Password" required="" />
						     <br />
						     <div><input type="submit" class="btn btn-success submit" value="Sign In"/></div>
						   	 <div class="separator">
						     <div>
						       <p>Copyright © 2019, All Right Reserved @Jazeera Dairy Farm</p>
						       <p th:text="*{version}"></p>
						     </div>
						   </div>
						</form>
				    </section>
		     	 </div>
			</div>
		</div>
		
  </body>
</html>
