<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/layout-security">
<head>
    
</head>
<body layout:fragment="content">
   		<br/><br/>
	   	<div class="login_wrapper">
	   		<div class="animate form login_form">
	     		<section class="text-center">
	     			
	           		<br /><br /><br /><h1>Reset My Password</h1><br />
					<div th:replace="fragments/fragment-base::validation-global"></div>
					<form th:object="${passwordReset}" th:action="@{/security/password/reset}" method="post" class="form-horizontal form-label-left">
	    				
	    				<input type="password" th:field="*{oldPassword}" class="form-control" th:placeholder="#{passwordReset.form.oldPassword}" th:errorClass="parsley-error" required="required" />
				     	<div th:replace="fragments/fragment-base::validation-errors(field=oldPassword)"></div>
	    				<div class="separator"></div>
	    				<input type="password" th:field="*{newPassword}" class="form-control" th:placeholder="#{passwordReset.form.newPassword}" th:errorClass="parsley-error" required="required"/>
				     	<div th:replace="fragments/fragment-base::validation-errors(field=newPassword)"></div>
	    				
	    				<input type="password" th:field="*{confirmPassword}" class="form-control" th:placeholder="#{passwordReset.form.confirmPassword}" th:errorClass="parsley-error" required="required"/>
				     	<div th:replace="fragments/fragment-base::validation-errors(field=confirmPassword)"></div>
					     <br />
					     <div>
					     	<input type="submit" class="btn btn-success submit" value="Reset"/>
					     	<a th:href="@{/}" class="btn btn-info">Cancel</a>
					     </div>
					     
					   	 <div class="separator">
					     <div>
					       <p>Copyright © All Right Reserved @2017 <a href="https://top.ic.edu.sa">The Oxford Partnership</a></p>
					     </div>
					   </div>
					</form>
			    </section>
	     	 </div>
		</div>
  </body>
</html>
